body {
  background-color: #153820;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.6'%3E%3Cpolygon fill='%23214a2e' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%232e5b3c' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%233e694b' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%234f755b' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%2362806c' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%2378887d' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%238f8f8f' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  }
  
  #timer {
    color: white;
  }

  #ttt {
    font-size: 100px;
    text-align: center;
    height: 20px;
    font-family: 'Indie Flower', cursive;
    color: white;
  }

#timewrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

  .timer {
  text-align: center;
  border: solid white;
  width: 30vw;
  color: white;
  }

#semi {
  font-size: 130px;
}

  #hours {
    font-size: 100px;
  }

  #minutes {
    font-size: 100px;
  }

  #seconds {
    font-size: 100px;
  }

  #status {
    text-align: center;
    color: white;
  }

.board {
  background-color: black;
  border-radius: 25px;
  cursor: pointer;
}

#informationWrapper {
  display: flex;
  justify-content: center;
}

.information {
  text-align: center;
  border: solid black;
  padding: 20px;
  width: 60vw;
}

.button {
  margin: 8px;
  width: 10vw;
  height: 3vw;
  font-size: 1.3vw;
  cursor: pointer;
  box-shadow: 0px 8px 10px -6px;
}

#x {
  background-color: black;
  padding: 20px;
  margin: 20px;
}

#o {
  padding: 20px;
  margin: 20px;
}

#player1name {
  margin: 8px;
  width: 10vw;
  height: 3vw;
}

#player2name {
  margin: 8px;
  width: 10vw;
  height: 3vw;
}
/* #start1 {
  
} */
  /*Dont' Touch Below Here*/

  span{
    font-size: 75px;
    margin-top: 20px;
  }
  
  div[id^="row-"] div {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    float: left;
  
  }
  
  div[id^="row-"] div:last-child {
    border-right: none;
  }
  
  div[id^="row-"] div:first-child {
    border-left: none;
  }
  
  div[id="row-1"] div{
    border-top: none;
  }
  
  div[id="row-3"] div{
      border-bottom: none;
  }
  
  div[id^="row-"] {
    clear: float;
    width: 608px;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  div.board {
    width: 608px;
    overflow: hidden;
    margin: 0 auto;
  }